
/*header*/
nav {
	overflow: hidden;
  background: #FEFECC;
  height: 50px;
  display: grid;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-center{

	width: 600px;
  	max-width: 600px;
	margin: 0 auto;
  	display: flex;
 	align-items: center;
 	justify-content: space-between;
 }

.nav-center h4 {	
  margin-bottom: 50;
  color:#02475e;
}

.nav-links {
  display: flex;
}

nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1,5rem;
  color: #687980;
  letter-spacing: 0.1rem;
  margin-right: 3rem;
}
nav a:hover {
  color: hsl(205, 78%, 60%);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4{
  letter-spacing:0.1rem ;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family:  "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
/*
=============== 
Container
===============
*/
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}
.container h2 {
  background: #f3bda1;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2.5rem;
}
.color {
  color: #687980;
}
.btn-hero {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: #02475e;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 700;
  transition:all 0.3s linear;
  border: 2px solid #fefecc;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: radius;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.btn-hero:hover {
  color: #fff;
  background: #222;
}
